<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Lodtenant</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="assets/app.css"/>

  <style type="text/css">
    /**
     * Hide when Angular is not yet loaded and initialized
     */
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>

</head>

<body ng-app="lodtenantApp" layout="column" ng-controller="WorkflowController as wf" ng-cloak >
<div layout="row" flex>

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')"
                flex>

      <md-toolbar class="md-whiteframe-z1">
        <h1>Workflow Configuration</h1>
      </md-toolbar>

      <md-list>
        <md-list-item>
          <md-button ng-click="menuEntry=0">Prefixes</md-button>
        </md-list-item>
        <md-list-item>
          <md-button ng-click="menuEntry=1">Configuration</md-button>
        </md-list-item>
        <md-list-item>
          <md-button class="md-primary" ng-click="wf.workflowJS()">Submit</md-button>
        </md-list-item>
        <md-list-item>
          <md-button class="md-warn" ng-click="wf.reset()">Reset</md-button>
        </md-list-item>
        <md-list-item>
          <md-button class="" ng-click="wf.example()">Load Example Config</md-button>
        </md-list-item>
      </md-list>
    </md-sidenav>

  <div flex tabIndex="-1" role="main" class="md-whiteframe-z2">
    <md-content flex id="content">

      <md-content ng-if="menuEntry == 0">
        <form name="wfPrefixesForm">
          <md-button ng-click="prefixes.push({})">Add Prefix</md-button>
          <div layout="" layout-sm="row" ng-repeat="pItem in prefixes">
            <div layout="" layout-sm="column">
              <md-input-container flex="">
                <label>Prefix</label>
                <input ng-model="pItem.prefix">
              </md-input-container>
              <md-input-container flex="">
                <label>IRI</label>
                <input ng-model="pItem.iri">
              </md-input-container>
            </div>
            <md-button class="md-warn" ng-click="wf.removeArrayItem(prefixes,$index)">Remove</md-button>
          </div>
        </form>
      </md-content>
      <md-content ng-if="menuEntry == 1" layout-padding="">
        <form name="wfDefinitionForm">

          <h2>1. Basic Configuration</h2>

          <div layout="" layout-sm="column">
            <md-input-container flex="">
              <label>Trim Regex</label>
              <input type="text" ng-model="misc.todoTrim">
            </md-input-container>
          </div>

          <md-input-container flex="">
            <label>HTTP-User-Agent</label>
            <input ng-model="misc.httpUserAgent">
          </md-input-container>

          <h2>2. Define Bean Types</h2>

          <md-button ng-click="beans.push({})">Add Bean Type</md-button>

          <div layout="" layout-sm="row" ng-repeat="bItem in beans">
            <md-input-container flex="">
              <label>Bean Label</label>
              <input ng-model="bItem.label">
            </md-input-container>
            <md-input-container>
              <label>Type</label>
              <md-select ng-model="bItem.beanType" style="width: 150px">
                <md-option value="$sparqlService">Sparql-Service</md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex="">
              <label>Endpoint-IRI</label>
              <input ng-model="bItem.sparqlEndpointUri">
            </md-input-container>
            <md-input-container flex="">
              <label>Named Graph</label>
              <input ng-model="bItem.namedGraph">
            </md-input-container>
            <md-button class="md-warn" ng-click="wf.removeArrayItem(beans,$index)">Remove</md-button>
          </div>

          <h2>3. Define Jobs</h2>
          <md-button ng-click="jobs.push({})">Add Job</md-button>
          <div ng-repeat="jItem in jobs">
            <h4>Job ({{$index+1}}/{{jobs.length}})</h4>
            <md-input-container flex="">
              <label>Job Name</label>
              <input ng-model="jItem.label">
            </md-input-container>
            <h4 flex="">Steps</h4>
            <md-button flex="" ng-click="jItem.steps.push({})">Add Step</md-button>
            <div flex="" ng-repeat="sItem in jItem.steps">
              <h4>Step ({{$index+1}}/{{jItem.steps.length}})</h4>
              <md-button class="md-warn" ng-click="wf.removeArrayItem(jItem.steps,$index)">Remove</md-button>
              <md-input-container flex="">
                <label>Type</label>
                <md-select ng-model="sItem.beanType">
                  <md-option value="$sparqlStep">SPARQL-Step</md-option>
                  <md-option value="$sparqlPipe">SPARQL-Pipe</md-option>
                  <md-option value="$sparqlUpdate">SPARQL-Update</md-option>
                </md-select>
              </md-input-container>
              <div layout="" layout-sm="column" class="layout-row">
                <md-input-container flex="">
                  <label>Step Name</label>
                  <input ng-model="sItem.label"></input>
                </md-input-container>
                <md-input-container flex="">
                  <label>Chunk Size</label>
                  <input ng-model="sItem.chunk"></input>
                </md-input-container>
              </div>
              <div layout="" layout-sm="column">
                <md-input-container flex="">
                  <label>Source</label>
                  <md-select ng-model="sItem.source" >
                    <md-option ng-repeat="bItem in beans" value="{{bItem.label}}">
                      {{bItem.label}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex="">
                  <label>Target</label>
                  <md-select ng-model="sItem.target" >
                    <md-option ng-repeat="bItem in beans" value="{{bItem.label}}">
                      {{bItem.label}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>

              <div layout="" layout-sm="column">
                <md-input-container flex="">
                  <label>Query</label>
                  <textarea ng-model="sItem.query" columns="1"></textarea>
                </md-input-container>
              </div>

              <div layout="" layout-sm="column">
                <md-input-container flex="">
                  <label>Filter</label>
                  <textarea ng-model="sItem.filter" columns="1"></textarea>
                </md-input-container>
              </div>

              <md-input-container flex="">
                <label>Update</label>
                <textarea ng-model="sItem.update" columns="1"></textarea>
              </md-input-container>
            </div>
          </div>
        </form>
      </md-content>
    </md-content>

  </div>
</div>


<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

<script src="src/workflow/Workflow.js"></script>
<script src="src/workflow/WorkflowController.js"></script>

<script type="text/javascript">

  angular
    .module('lodtenantApp', ['ngMaterial', 'workflow'])
    .config(function($mdThemingProvider){

      $mdThemingProvider.theme('default');

    });

</script>

</body>
</html>
